@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #fff
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.round-loope img,
.magnifier img {
    width: 100%;
    height: auto
}

#360frames1,
#360frames2,
#360frames3,
#360frames4 {
    cursor: pointer
}

.V360-canvas {
    cursor: pointer
}

.V360-preload {
    background-size: 30% 30%
}

#zoomimg {
    height: 600px;
    width: 600px
}

#zoomimg img {
    height: 600px;
    width: 600px
}

.buttons {
    margin: 0 auto;
    height: 80px
}

.button,
.SideView {
    opacity: 1;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border: none
}

.buttons table {
    margin: 0 auto
}

.my-foto {
    border-radius: 17px
}

.btnpos {
    display: inline-block
}

.divbtnpos {
    text-align: center;
    padding-left: 5px;
    position: relative;
    margin: 0 10px 0 0
}

.button:hover,
.SideView:hover {
    opacity: .5
}

.round-loope {
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 115px;
    border: 2px solid #F0F0F0;
    box-shadow: 2px 2px 10px #000;
    height: 150px;
    width: 150px
}

.skill_bar {
    width: 600px;
    height: 5px;
    margin: 0 auto;
    background: silver
}

.skill_bar_progress {
    width: 0;
    height: 100%;
    background: #feccb1;
    background: -moz-linear-gradient(-45deg, #feccb1 0%, #f17432 6%, #000 7%, #000 11%, #f17432 12%, #f17432 17%, #000 18%, #000 23%, #f17432 25%, #f17432 31%, #000 32%, #000 38%, #f17432 40%, #f17432 45%, #000 47%, #000 53%, #f17432 54%, #f17432 60%, #000 62%, #000 68%, #f17432 69%, #f17432 76%, #000 77%, #000 83%, #f17432 85%, #f17432 91%, #000 96%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #feccb1), color-stop(6%, #f17432), color-stop(7%, #000), color-stop(11%, #000), color-stop(12%, #f17432), color-stop(17%, #f17432), color-stop(18%, #000), color-stop(23%, #000), color-stop(25%, #f17432), color-stop(31%, #f17432), color-stop(32%, #000), color-stop(38%, #000), color-stop(40%, #f17432), color-stop(45%, #f17432), color-stop(47%, #000), color-stop(53%, #000), color-stop(54%, #f17432), color-stop(60%, #f17432), color-stop(62%, #000), color-stop(68%, #000), color-stop(69%, #f17432), color-stop(76%, #f17432), color-stop(77%, #000), color-stop(83%, #000), color-stop(85%, #f17432), color-stop(91%, #f17432), color-stop(96%, #000));
    background: -webkit-linear-gradient(-45deg, #feccb1 0%, #f17432 6%, #000 7%, #000 11%, #f17432 12%, #f17432 17%, #000 18%, #000 23%, #f17432 25%, #f17432 31%, #000 32%, #000 38%, #f17432 40%, #f17432 45%, #000 47%, #000 53%, #f17432 54%, #f17432 60%, #000 62%, #000 68%, #f17432 69%, #f17432 76%, #000 77%, #000 83%, #f17432 85%, #f17432 91%, #000 96%);
    background: -o-linear-gradient(-45deg, #feccb1 0%, #f17432 6%, #000 7%, #000 11%, #f17432 12%, #f17432 17%, #000 18%, #000 23%, #f17432 25%, #f17432 31%, #000 32%, #000 38%, #f17432 40%, #f17432 45%, #000 47%, #000 53%, #f17432 54%, #f17432 60%, #000 62%, #000 68%, #f17432 69%, #f17432 76%, #000 77%, #000 83%, #f17432 85%, #f17432 91%, #000 96%);
    background: -ms-linear-gradient(-45deg, #feccb1 0%, #f17432 6%, #000 7%, #000 11%, #f17432 12%, #f17432 17%, #000 18%, #000 23%, #f17432 25%, #f17432 31%, #000 32%, #000 38%, #f17432 40%, #f17432 45%, #000 47%, #000 53%, #f17432 54%, #f17432 60%, #000 62%, #000 68%, #f17432 69%, #f17432 76%, #000 77%, #000 83%, #f17432 85%, #f17432 91%, #000 96%);
    background: linear-gradient(135deg, #feccb1 0%, #f17432 6%, #000 7%, #000 11%, #f17432 12%, #f17432 17%, #000 18%, #000 23%, #f17432 25%, #f17432 31%, #000 32%, #000 38%, #f17432 40%, #f17432 45%, #000 47%, #000 53%, #f17432 54%, #f17432 60%, #000 62%, #000 68%, #f17432 69%, #f17432 76%, #000 77%, #000 83%, #f17432 85%, #f17432 91%, #000 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feccb1', endColorstr='#000000', GradientType=1);
    background-repeat: repeat-x
}

.popup {
    position: fixed;
    z-index: 99999;
    top: 60px;
    left: 50%;
    width: 460px;
    height: 270px;
    background: #fff;
    -moz-box-shadow: 4px 4px 30px #130507;
    -webkit-box-shadow: 4px 4px 30px #130507;
    box-shadow: 4px 4px 30px #130507;
    -moz-transition: top 800ms;
    -o-transition: top 800ms;
    -webkit-transition: top 800ms;
    transition: top 800ms
}

.info_content {
    width: 93%;
    text-align: center;
    font-size: 23px;
    padding: 10px 3px 3px;
    position: relative
}

.p_anch {
    float: left;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 80px 0 0;
    text-align: center;
    font-size: 18px
}

.p_anch a {
    color: #000
}

.p_anch a:hover {
    text-decoration: none
}

.p_anch_bottom {
    margin: 1500px 0 0;
    padding: 0 0 50px
}

.p_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 12px;
    padding: 15px 11px 0 0
}

.p_close span {
    display: block;
    width: 18px;
    height: 5px;
    background: #333
}

.p_close span:first-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.p_close span:last-child {
    margin: -5px 0 0;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.p_body {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    -moz-transition: opacity 800ms;
    -o-transition: opacity 800ms;
    -webkit-transition: opacity 800ms;
    transition: opacity 800ms
}

.js__slide_top {
    height: 0;
    overflow: hidden;
    top: 0
}

.js__fadeout {
    height: 0;
    overflow: hidden;
    opacity: 0
}

#watermark,
#FixedWaterMark {
    position: absolute;
    background-repeat: no-repeat;
    z-index: 10001
}

.position1 {
    top: 0;
    left: 0
}

.position2 {
    top: 0
}

.position3 {
    top: 0;
    right: 0
}

.position4 {
    top: 40%;
    left: 0
}

.position5 {
    top: 40%
}

.position6 {
    top: 40%;
    right: 0
}

.position7 {
    bottom: 0;
    left: 0
}

.position8 {
    bottom: 0
}

.position9 {
    bottom: 0;
    right: 0
}

.main {
    display: table;
    margin: auto
}

#myCanvas {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 50
}

.small {
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: top
}

.small img {
    height: 200px;
    width: 200px
}

.big {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.frameContainer {
    position: relative;
    margin: 0 auto;
    margin-bottom: 2px
}

.border-redicus3 {
    border-radius: 0 17px 0 0
}

.border-redicus4 {
    border-radius: 0 0 0 17px
}

.border-redicus1 {
    border-radius: 17px 0 0 0
}

.border-redicus6 {
    border-radius: 0 0 17px 0;
    border-radius: 0 0 17px 0
}

.border-redicusright {
    border-radius: 0 17px 17px 0
}

.border-redicusleft {
    border-radius: 17px 0 0 17px
}

.borderound {
    border-radius: 17px
}

#customLable {
    display: none
}

.quality {
    cursor: pointer
}

.reveal-modal .info {
    height: 100%;
    overflow: auto
}

.smallframe {
    float: right
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
    width: 200px;
    vertical-align: middle
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
    width: 200px
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: inset 0 0 10px rgba(000, 000, 000, 0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px
}

input:focus,
input[type]:focus,
.uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    outline: 0 none
}

#divinfo,
#divinfo iframe {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}

.greyimg {
    filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1)
}

@media screen and (max-width: 480px) {
    .popup {
        width: 100%
    }
}

.Vision360 {
    width: 100%;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

.tooltipster-fall,
.tooltipster-grow-show {
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1);
    -moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -ms-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-default {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff
}

.tooltipster-default .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden
}

.tooltipster-icon {
    cursor: help;
    margin-left: 4px
}

.tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible
}

.tooltipster-base .tooltipster-content {
    overflow: hidden
}

.tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.tooltipster-arrow span,
.tooltipster-arrow-border {
    display: block;
    width: 0;
    height: 0;
    position: absolute
}

.tooltipster-arrow-top span,
.tooltipster-arrow-top-left span,
.tooltipster-arrow-top-right span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -7px
}

.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -7px
}

.tooltipster-arrow-bottom span,
.tooltipster-arrow-bottom-left span,
.tooltipster-arrow-bottom-right span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -7px
}

.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom-left .tooltipster-arrow-border,
.tooltipster-arrow-bottom-right .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -7px
}

.tooltipster-arrow-bottom .tooltipster-arrow-border,
.tooltipster-arrow-bottom span,
.tooltipster-arrow-top .tooltipster-arrow-border,
.tooltipster-arrow-top span {
    left: 0;
    right: 0;
    margin: 0 auto
}

.tooltipster-arrow-bottom-left span,
.tooltipster-arrow-top-left span {
    left: 6px
}

.tooltipster-arrow-bottom-left .tooltipster-arrow-border,
.tooltipster-arrow-top-left .tooltipster-arrow-border {
    left: 5px
}

.tooltipster-arrow-bottom-right span,
.tooltipster-arrow-top-right span {
    right: 6px
}

.tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.tooltipster-arrow-top-right .tooltipster-arrow-border {
    right: 5px
}

.tooltipster-arrow-left .tooltipster-arrow-border,
.tooltipster-arrow-left span {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -7px
}

.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-left: 9px solid;
    margin-top: -8px
}

.tooltipster-arrow-right .tooltipster-arrow-border,
.tooltipster-arrow-right span {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -7px
}

.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-right: 9px solid;
    margin-top: -8px
}

.tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity
}

.tooltipster-fade-show {
    opacity: 1
}

.tooltipster-grow {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden
}

.tooltipster-grow-show {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform
}

.tooltipster-swing-show {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    transform: rotateZ(0);
    -webkit-transition-timing-function: cubic-bezier(.23, .635, .495, 1);
    -webkit-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -moz-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -ms-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    -o-transition-timing-function: cubic-bezier(.23, .635, .495, 2.4);
    transition-timing-function: cubic-bezier(.23, .635, .495, 2.4)
}

.tooltipster-fall {
    top: 0;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0 !important;
    opacity: 0
}

.tooltipster-slide {
    left: -40px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -ms-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.15);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.15)
}

.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0 !important;
    opacity: 0
}

.tooltipster-content-changing {
    opacity: .5;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.magnifyarea {
    border-radius: 62%;
    padding: 4px;
    box-shadow: 5px 5px 7px #818181;
    -webkit-box-shadow: 5px 5px 7px #818181;
    -moz-box-shadow: 5px 5px 7px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true);
    background: #fff
}

.targetarea {
    width: 325px;
    height: 338px;
    margin-top: 3px
}

#two {
    height: 243px
}

.targetarea img {
    margin: auto;
    display: block;
    position: relative;
    border-width: 0
}

.thumbs {
    padding-top: 25px;
    width: 325px;
    text-align: center
}

.thumbs a {
    text-decoration: none
}

.thumbs img {
    border-width: 0
}

#description,
#description2 {
    position: absolute;
    width: 325px;
    text-align: center;
    font: 700 95% sans-serif;
    margin-top: 3px;
    color: #222;
    background-color: #fff
}

.zoomstatus {
    display: none !important
}

.btnPreloadPlay {
    cursor: pointer;
}

/* custom css */

.image_container {
    padding: 0 15px 50px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.image_container img {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 5px;
    border-radius: 8px;
    transition: all 200ms ease;
    border: 1px solid #11111100;
}

.image_container img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid rgb(116, 62, 26);
}

.additional_data *,
.additional_data {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.additional_data {
    margin-top: 20px;
}

.buttons {
    margin: 0 auto;
    height: 80px !important;
}

.V360-stage {
    background-color: #111;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

button {
    font-size: 55px;
    transition: all 200ms ease;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
}


.button,
.SideView {
    height: 40px !important;
    min-width: 40px !important;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

div#ty {
    margin-right: 0;
}

div#ty .btnpos:nth-child(4),
div#ty .btnpos:nth-child(6),
div#trfv .btnpos:nth-child(2),
div#trfv .btnpos:nth-child(4),
div#trfv .btnpos:nth-child(5),
div#trfv .btnpos:nth-child(6),
.buttons table {
    display: none !important;
}

.imgWtext, .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

button.imgWtext,
.image_container>div {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-right: 0;
    border: 1px solid #acacff;
    padding: 5px 0;
    border-radius: 8px;
}

button.imgWtext p,
.image_container>div p {
    FONT-WEIGHT: 500;
    margin: 0;
    text-align: center;
}

button.imgWtext p,
.image_container>div p {
    margin-top: 10px;
}

.HA_group,
.Aset_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #acacff;
    padding: 5px 0;
    border-radius: 8px;
}

p:empty {
    display: none;
}

.HA_group p,
.Aset_group p {
    grid-column: span 2;
    text-align: center;
    margin-top: 10px !important;
}

button.copyUrlBtn,
button.downloadVideoBtn {
    width: 40px;
    height: 40px;
    font-size: 22px;
    background: #4e4e50;
    border-radius: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 0;
}

div#trfv {
    display: flex !important;
    gap: 5px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.downloadVideoBtn svg,
button.copyUrlBtn svg {
    width: 22px;
    height: 40px;
}
 

@media (max-width:990px) {

    .button,
    .SideView {
        height: 84px !important;
        min-width: 84px !important;
    }

    button.copyUrlBtn,
    button.downloadVideoBtn {
        width: 84px;
        height: 84px;
    }

    .image_container {
        flex-wrap: wrap;}
    .image_container img {
        max-width: 150px;
        height: 150px;
    }
    button.imgWtext p, .image_container>div p {
        font-size: 22px;
    }
    button.downloadVideoBtn svg, button.copyUrlBtn svg {
        width: 40px;
        height: 40px;
    }
}

button.imgWtext, .image_container > div { 
	background: #fff;
}